.ExtensionCard-container {
    background-color: #1e293b;
    color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    font-family: sans-serif;
    text-align: center;
}

.cards-top-section{
    display: flex;
}

.card-text {
    text-align: start;
    margin: 0px 15px;
}

.card-text p, .card-text h2 {
    margin: 0px;
}

h2.Extension-heading {
    margin-bottom: 5px;
}

.cards-actions{
    display: flex;
    align-items: center;
    justify-content: flex-start; /* or space-between / center depending on layout */
    gap: 1rem;
    margin-top: 30px;
}

.toggle-button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button.remove-button {
    border-radius: 30px;
}